* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'jamjuree';
    src: url('./font/BaiJamjuree-Regular.ttf'), url('./font/BaiJamjuree-SemiBold.ttf');
}

:root {

    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

    --font: 'jamjuree';

}

.hero {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    margin-bottom: 2rem;
    background-image: url('./images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__image-content {
    width: 100px;
    height: 100px;
}

.hero__image-content img {
    width: 100%;
    height: 100%;
}

/*about*/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 4rem;
}

.about__title {
    width: 86%;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: var(--font);
    font-weight: 600;
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}

.about__paragraph {
    width: 85%;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5em;
    text-align: center;
    font-family: var(--font);
    color: var(--Grayish-Blue);
}

.content__btn {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.btn {
    width: 70%;
    font-family: var(--font);
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 25px;
    color: white;
}

.btn--for-ios {
    background-color: var(--Strong-Cyan);
}

.btn--for-mac {
    background-color: var(--Light-Blue);
}

/*snippets*/

.snippets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.snippet__title {
    width: 80%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
    font-family: var(--font);
    color: var(--Dark-Grayish-Blue);
}

.snippet__paragraph {
    width: 80%;
    font-size: 1rem;
    text-align: center;
    font-family: var(--font);
    color: var(--Grayish-Blue);
    margin-bottom: 3rem;
}

.snippet__tips {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__image-snippet {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.content__image-snippet img {
    width: 90%;
    height: 200px;
}

.snippet__tips-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snippet__tips-items {
    width: 90%;
    display: flex; 
    flex-direction: column;
    align-items: center;  
    margin-bottom: 2rem;
}

.snippet__tips-item-title {
    width: 60%;
    text-align: center;
    font-family: var(--font);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.snippet__tips-item-paragraph {
    width: 75%;
    text-align: center;
    font-family: var(--font);
    font-size: 0.9rem;
    color: var(--Grayish-Blue);
}

/*access*/

.access__clipboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.access__clipboard-title {
    width: 80%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: var(--font);
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}

.access__clipboard-about {
    width: 70%;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font);
    text-align: center;
    color: var(--Grayish-Blue);
}

.access__clipboard-img-content {
    width: 90%;
    display: flex;
    align-items: center;
}

.access__clipboard-img-content img {
    width: 100%;
    height: 200px;
}

/*work*/
